<template>
  <div class="data-table__content">
    <ui-table-header v-if="viewPortWidth > 768" :columns="columns"/>
    <template v-if="viewPortWidth > 768">
      <ui-table-row
        v-for="row in rows"
        :key="row.id"
        :columns="columns"
        :data="row"
      />
    </template>
    <template v-else>
      <ui-table-ceil
        v-for="row in rows"
        :key="row.id"
        :columns="columns"
        :data="row"
      />
    </template>
  </div>
</template>

<script>
export default {
  name: 'TableContent',
  props: {
    rows: {
      type: Array,
      required: true,
    },
    columns: {
      type: Array,
      required: true,
    },
  },
  data: () => ({
    viewPortWidth: window.innerWidth,
  }),
  methods: {
    onResize() {
      this.viewPortWidth = window.innerWidth;
    },
  },
  mounted() {
    this.$nextTick(() => {
      window.addEventListener('resize', this.onResize);
    });
  },
  beforeDestroy() {
    window.removeEventListener('resize', this.onResize);
  },
};
</script>

<style scoped>

</style>
