<template>
  <div class="data-table__content-ceil">
    <div
      v-for="(column, index) in columns"
      :key="`${column.prop}-${index}`"
      class="data-table__content-ceil__prop"
      :style="tableColumnStyle(column)"
    >
      <span class="data-table__content-ceil__prop-label">
        <strong>
          {{ column.label }}
        </strong>
      </span>
      <span class="data-table__content-ceil__prop-value">
        {{ formattedRowData(column.type, data[column.prop]) }}
      </span>
    </div>
  </div>
</template>

<script>
import { formattedRowData, tableColumnStyle } from './utils';

export default {
  name: 'TableCeil',
  props: {
    columns: {
      type: Array,
      required: true,
    },
    data: {
      type: Object,
      required: true,
    },
  },
  computed: {
    tableColumnStyle,
    formattedRowData,
  },
};
</script>

<style scoped>

</style>
