<template>
  <div class="data-table__content-row">
    <div
      v-for="(column, index) in columns"
      :key="`${column.prop}-${index}`"
      class="data-table__content-row__column"
      :style="tableColumnStyle(column)"
    >
      {{ formattedRowData(column.type, data[column.prop]) }}
    </div>
  </div>
</template>

<script>
import { formattedRowData, tableColumnStyle } from './utils';
import { dateTransformer } from '../../../utils/transformers';

export default {
  name: 'TableRow',
  props: {
    columns: {
      type: Array,
      required: true,
    },
    data: {
      type: Object,
      required: true,
    },
  },
  computed: {
    tableColumnStyle,
    formattedRowData,
  },
};
</script>
