<template>
  <div class="data-table__content-header">
    <div
      v-for="(column, index) in columns"
      :key="`${column.prop}-header-${index}`"
      class="data-table__content-header__label"
      :style="tableColumnStyle(column)"
    >
      {{ column.label }}
    </div>
  </div>
</template>

<script>
export default {
  name: 'TableHeader',
  props: {
    columns: {
      type: Array,
      required: true,
    },
  },
  computed: {
    tableColumnStyle: () => (column) => ({
      width: column.width,
    }),
  },
};
</script>

<style scoped>

</style>
