$table-border: 1px solid #d4d4d4;
$table-desktop-ceil-inset: 1rem 0.25rem;
$table-mobile-ceil-inset: 1rem;

.data-table {
  display: flex;
  flex-direction: column;
  gap: 16px;

  &__filter {

  }

  &__content {
    display: flex;
    flex-direction: column;

    border: $table-border;

    &-header {
      display: flex;
      &__label {
        padding: $table-desktop-ceil-inset;

        display: flex;
        justify-content: center;
        align-items: center;

        font-weight: bold;

        &:not(&:last-child) {
          border-right: $table-border;
        }
      }
    }

    &-row {
      display: flex;

      &__column {
        padding: $table-desktop-ceil-inset;

        display: flex;
        justify-content: center;
        align-items: center;
        &:not(&:last-child) {
          border-right: $table-border;
        }
      }

      &:not(&:first-child) {
        border-top: $table-border;
      }
    }

    &-ceil {
      padding: $table-mobile-ceil-inset;

      display: flex;
      flex-direction: column;
      gap: 0.5rem;

      border: $table-border;

      &__prop {
        display: inherit;
        flex-direction: inherit;
        gap: 0.25rem;
      }
    }

    @media screen and (max-width: 768px) {
      gap: 1rem;

      border: none;
    }
  }

  &__paginator {

  }
}
