<template>
  <div class="data-table">
    <div class="data-table__filter">
      <ui-money v-model="moneyFilter"/>
    </div>

    <ui-table-content
      :rows="paginatedRows"
      :columns="columns"
    />

    <div class="data-table__paginator">
      <ui-pagination
        v-model="page"
        :pages="pageCount"
      />
    </div>
  </div>
</template>

<script>
export default {

  name: 'DataTable',
  props: {
    rows: {
      type: Array,
      required: true,
    },
    columns: {
      type: Array,
      required: true,
    },
  },

  data: () => ({
    page: 1,
    pageSize: 4,
    moneyFilter: 0,
  }),

  computed: {
    filteredRows() {
      if (this.moneyFilter) {
        return this.rows.filter((row) => row.money <= this.moneyFilter);
      }

      return this.rows;
    },
    paginatedRows() {
      const start = this.page > 0 ? (this.page - 1) * this.pageSize : 0;
      const end = this.page * this.pageSize;

      return this.filteredRows.slice(start, end);
    },
    pageCount() {
      return Math.ceil(this.filteredRows.length / this.pageSize);
    },
  },
};
</script>
