<template>
  <input
    type="text"
    :value="valueInput"
    class="ui-money"
    @input="onInput"
    @keypress="onKeypress"
  />
</template>

<script>
import { currencyTransformer, numberTransformer } from '../../utils/transformers';

export default {

  name: 'UiMoney',

  props: {
    value: {
      type: Number,
      require: true,
    },
  },

  data() {
    return {
      valueInput: this.value,
    };
  },
  mounted() {
    if (this.value) {
      this.valueInput = currencyTransformer(numberTransformer(this.value));
      return;
    }

    this.valueInput = '';
  },
  methods: {
    onInput(e) {
      this.valueInput = currencyTransformer(numberTransformer(e.target.value));
      if (this.valueInput.length) {
        return this.$emit('input', Number(this.valueInput.replace(' ', '')));
      }

      return this.$emit('input');
    },
    onKeypress(e) {
      const allowedSymbols = /[0-9.]+/;

      console.log(allowedSymbols.test(e.key));
      if (e.key === ',') {
        e.target.value.replace(/,/g, '.');
      }

      if (!allowedSymbols.test(e.key)) {
        e.preventDefault();
      }
    },
    onKeydown(e) {
      if (
        // backspace, delete, tab, escape, enter, dot, comma
        [46, 8, 9, 27, 13, 110, 190, 188].indexOf(e.keyCode) >= 0
        // Ctrl/cmd+A
        || (e.keyCode === 65 && (e.ctrlKey || e.metaKey))
        // Ctrl/cmd+C
        || (e.keyCode === 67 && (e.ctrlKey || e.metaKey))
        // Ctrl/cmd+R
        || (e.keyCode === 82 && (e.ctrlKey || e.metaKey))
        // Ctrl/cmd+X
        || (e.keyCode === 88 && (e.ctrlKey || e.metaKey))
        // home, end, left, right
        || (e.keyCode >= 35 && e.keyCode <= 39)
      ) {
        return;
      }

      const allowedSymbols = /[0-9.]+/;

      if (!allowedSymbols.test(e.key)) {
        e.preventDefault();
      }
    },
  },
};
</script>
